<style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
</style>

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    margin: 0;
}

.navBar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}

.navBar a {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    color: greenyellow;
    font-family: 'Roboto', sans-serif;
    text-size-adjust: 500%;
    font-size: 50px;
}

main{
    margin-bottom: 0px;
}

.imagenFondo{
    background-attachment: fixed;
    background-size: 210vh;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/fondo-paginas-avion.jpg");
    font-size: xx-large;
    font-family: 'Roboto', sans-serif;
}

.logo{
    width: 175px;
    height: 100px; 
}

.OfImg{
    width: 300px;
    height: 300px;
}

.seccionOferta{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.opiniones{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.opiniones p{
    font-family: 'Roboto', sans-serif;
    font-size: large;
    border: 3px solid black;
    width: 300px;
    height: 300px;
}


.logosFooter {
    list-style-type: none;
    width: 50px;
    height: 50px;
    }
    
footer{
    background-color: bisque;
    margin-top: 0px;
}
    
.seccionFooter{
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: end;
    gap: 20px;
}

.contactoButton{
    width: 210px;
    height: 100px;
    border: 3px solid yellow;
}
    
footer a{
    font-size: xx-large;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.nosotros{
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
}

.parrafoNosotros{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}

.SeccionAlojamiento{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.ImgAlojamiento{
    width: 320px;
    height: 1000px;
}

.seccionVuelos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.imgVuelos{
    width: 320px;
    height: 1000px;
}


.seccionContacto{
    width: 400px;
    height: 90%;
    padding: .8rem;
    overflow: hidden;
    color: rgb(8, 4, 252);
}

.seccionContacto{
    border: 5px solid brown
}

.seccionContacto label , .seccionContacto input, .seccionContacto textarea {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    background-color:indianred;
}

.seccionContacto input:not([type='submit']), .seccionContacto textarea{
    border: none;
    border-bottom: 2px solid salmon;
    margin-bottom: 10px;
    font-size: 20px;
    outline: none;
    color: gray;
}

.seccionContacto textarea{
    min-height: 100px;
}

input[type='submit']{
    padding: 10px;
    border: none;
    background-color: lightcoral;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.ubicacionMapa{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.ubicacion{
    display: flex;
    flex-direction: row;
    justify-content: end;
}