<style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
</style>

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    margin: 0;
}

.navBar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}

.header{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    justify-content: center;
}

.navBar a {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    color: greenyellow;
    font-family: 'Roboto', sans-serif;
    text-size-adjust: 500%;
    font-size: 50px;
}

main{
    margin-bottom: 0px;
}

.imagenFondo{
    background-attachment: fixed;
    background-size: 210vh;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/fondo-paginas-avion3.jpg");
    font-size: xx-large;
    font-family: 'Roboto', sans-serif;
}

.logo{
    width: 175px;
    height: 177px; 
}

.header{
    display: grid;
    grid-template-columns: 2 , 1fr;
    grid-template-areas: 
    "loguito barraMenu";
}

.loguito{
    grid-area: loguito;
}

.barraMenu{
    margin-left: 900px;
    margin-top: 80px;
    width: 100px;
    height: 100px;
    grid-area: barraMenu;
}

.OfImg{
    width: 300px;
    height: 300px;
    transition: width 2s, height 2s;
}

.OfImg:hover{
    width: 550px;
    height: 550px;
}

.seccionOferta{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.opiniones{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.opiniones p{
    font-family: 'Roboto', sans-serif;
    font-size: large;
    border: 3px solid black;
    width: 300px;
    height: 300px;
    transition: width 2s, height 2s;
}

.opiniones p:hover{
    width: 550px;
    height: 550px;
    font-size: xx-large;
}

.logosFooter {
    list-style-type: none;
    width: 50px;
    height: 50px;
    transition: width 2s, height 2s;
    }

.logosFooter:hover{
    width: 65px;
    height: 65px;
}
    
footer{
    background-color: bisque;
    margin-top: 0px;
}
    
.seccionFooter{
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: end;
    gap: 20px;
}

.contactoButton{
    width: 210px;
    height: 100px;
    border: 3px solid yellow;
}
    
footer a{
    font-size: xx-large;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.nosotros{
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
}

.parrafoNosotros{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}

.SeccionAlojamiento{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.ImgAlojamiento{
    width: 320px;
    height: 1000px;
    transition: width 2s, height 2s;
}

.ImgAlojamiento:hover{
    width:  700px;
}

.seccionVuelos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.imgVuelos{
    width: 320px;
    height: 1000px;
    transition: width 2s, height 2s;
}

.imgVuelos:hover{
    width: 700px;
}


.seccionContacto{
    width: 400px;
    height: 90%;
    padding: .8rem;
    overflow: hidden;
    color: rgb(8, 4, 252);
}

.seccionContacto{
    border: 5px solid brown
}

.seccionContacto label , .seccionContacto input, .seccionContacto textarea {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    background-color:indianred;
}

.seccionContacto input:not([type='submit']), .seccionContacto textarea{
    border: none;
    border-bottom: 2px solid salmon;
    margin-bottom: 10px;
    font-size: 20px;
    outline: none;
    color: gray;
}

.seccionContacto textarea{
    min-height: 100px;
}

input[type='submit']{
    padding: 10px;
    border: none;
    background-color: lightcoral;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.imagenFondo3{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.ubicacionMapa{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.ubicacion{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

    @media (max-width: 768px) {

        body{
        margin: 0;
    }
        
        .navBar {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            justify-content:center;
            gap: 20px;
        }
        
        .header{
            display: flex;
    
        }
        .navBar a {
            text-decoration: none;
            display: flex;
            justify-content: space-between;
            color: rgb(47, 213, 255);
            font-family: 'Roboto', sans-serif;
            text-size-adjust: 150%;
            font-size: 25px;
            margin-top: 50px;
            border: rgb(128, 30, 0) solid 2px;
        }
        
        main{
            margin-bottom: 0px;
        }
        
        .imagenFondo{
            background-attachment: fixed;
            background-size: 210vh;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            background-image: url("../assets/img/fondo-paginas-avion3.jpg");
            font-size: xx-large;
            font-family: 'Roboto', sans-serif;
        }
        
        .tamañoImagen{
            width: 670px;
            height: 180px;
        }
    
        .logo{
            width: 50px;
            height: 130px; 
        }

        .header{
            display: grid;
            grid-template-columns: 2 , 1fr;
            justify-content: space-between;
        }
        
        .loguito{
            display: grid;
            grid-area: loguito;
        }
        
        .barraMenu{
            display: grid;
            margin-left: 500px;
            margin-top: 80px;
            width: 100px;
            height: 100px;
            grid-area: barraMenu;
        }
        
        .OfImg{
            width: 300px;
            height: 300px;
            transition: width 2s , height 2s;
        }
    
        .OfImg:hover {
            height: 450px;
            width: 450px;
        }
        

        .seccionOferta{
            display: grid;
            grid-template-columns: repeat(2 ,1fr);
            justify-items: center;
    
        }
        
        .opiniones{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
        }
        
        
        .opiniones p{
            font-family: 'Roboto', sans-serif;
            font-size: 23px;
            border: 3px solid rgb(253, 1, 1);
            width: 310px;
            height: 310px;
            color: rgb(0, 26, 255);
            transition: width 2s, height 2s;
        }

        .opiniones p:hover{
            width: 400px;
            height: 550px;
            font-size: 33px;
        }

        .opiniones2{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }
        
        .logosFooter {
            list-style-type: none;
            width: 50px;
            height: 50px;
            transition: width 2s, height 2s;
            }

            .logosFooter:hover{
                width: 65px;
                height: 65px;
            }
            
        footer{
            background-color: rgb(109, 93, 248);
            margin-top: 0px;
        }
            
        .seccionFooter{
            display: flex;
            flex-flow: row-reverse wrap;
            justify-content: end;
            gap: 20px;
            margin-right: 25px;
        }
        
        .contactoButton{
            width: 210px;
            height: 100px;
            border: 3px solid rgb(250, 77, 77);
        }
            
        footer a{
            font-size: xx-large;
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            color: rgb(9, 5, 252);
        }

        .nosotros{
            font-family: 'Roboto', sans-serif;
            font-size:medium;
        }
        
        .parrafoNosotros{
            font-family: 'Roboto', sans-serif;
            width: 100%;
            height: 100%;
            color: orangered;
        }

        .SeccionAlojamiento{
            display: grid;
            grid-template-columns: repeat(2 , 1fr);
            justify-content: space-between;
            margin-left: 100px;
        }
        
        .ImgAlojamiento{
            width: 250px;
            height: 600px;
            transition: width 2s, height 2s;
        }

        .ImgAlojamiento:hover{
            width: 300px;
            height: 800px;
        }

        .seccionVuelos{
            display: grid;
            grid-template-columns: repeat(2 , 1fr);
            justify-content: space-between;
            margin-left: 100px;
        }
        
        .imgVuelos{
            width: 250px;
            height: 600px;
            transition: width 2s, height 2s;
        }
        
        .imgVuelos:hover{
            width: 300px;
            height: 800px;
        }

        .nosotros{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }

        .seccionContacto{
            width: 400px;
            height: 90%;
            padding: .8rem;
            overflow: hidden;
            color: rgb(8, 4, 252);
            margin-left: 200px;
        }
        
        .seccionContacto{
            border: 5px solid brown
        }
        
        .seccionContacto label , .seccionContacto input, .seccionContacto textarea {
            display: block;
            width: 100%;
            margin-bottom: 8px;
            background-color:indianred;
        }
        
        .seccionContacto input:not([type='submit']), .seccionContacto textarea{
            border: none;
            border-bottom: 2px solid salmon;
            margin-bottom: 10px;
            font-size: 20px;
            outline: none;
            color: gray;
        }
        
        .seccionContacto textarea{
            min-height: 50px;
        }
        
        input[type='submit']{
            padding: 10px;
            border: none;
            background-color: lightcoral;
            color: white;
            font-size: 20px;
            cursor: pointer;
        }
        
        .imagenFondo3{
            padding-top: 50px;
            padding-bottom: 50px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
        }
        
        .ubicacionMapa{
            display: flex;
            flex-direction: row nowrap;
            justify-content: center;
        }
        .ubicacion{
            display: flex;
            flex-direction: row nowrap;
            justify-content: center;
        }
        
        }

        @media (max-width: 576px) {

    body{
    margin: 0;
    }
    
    .navBar {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 20px;
    }
    
    .header{
        display: flex;
        flex-direction: column wrap;
    }

    .navBar a {
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        color: greenyellow;
        font-family: 'Roboto', sans-serif;
        text-size-adjust: 150%;
        font-size: 25px;
        margin-top: 48px;
        border: purple solid 2px;
    }
    
    main{
        margin-bottom: 0px;
    }
    
    .imagenFondo{
        background-attachment: fixed;
        background-size: 210vh;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        background-image: url("../assets/img/fondo-paginas-avion3.jpg");
        font-size: xx-large;
        font-family: 'Roboto', sans-serif;
    }
    
    .tamañoImagen{
        width: 375px;
        height: 180px;
    }


    .loguito{
        grid-area: loguito;
    }
    
    .logo{
        width: 375px;
        height: 180px;
    }

    .barraMenu{
        margin-left: 0px;
        margin-top: 80px;
        width: 100px;
        height: 100px;
        grid-area: barraMenu;
    }
    
    .OfImg{
        width: 300px;
        height: 300px;
        transition: width 2s , height 2s;
    }

    .OfImg:hover {
        height: 450px;
        width: 450px;
    }
    
    .seccionOferta{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

    }
    
    .opiniones{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    
    .title{
        font-size: xx-large;
    }

    .opinionesTitulo{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .opiniones p{
        font-family: 'Roboto', sans-serif;
        font-size: 23px;
        border: 3px solid black;
        width: 310px;
        height: 310px;
        color: darkred;
        transition: width 2s, height 2s;
    }
    
    .opiniones p:hover{
        width: 275px;
        height: 500px;
        font-size: 28px;
    }

    .logosFooter {
        list-style-type: none;
        width: 50px;
        height: 50px;
        transition: width 2s, height 2s;
        }

    .logosFooter:hover{
        width: 65px;
        height: 65px;
    }
        
    footer{
        background-color: rgb(93, 248, 163);
        margin-top: 0px;
    }
        
    .seccionFooter{
        display: flex;
        flex-flow: row-reverse wrap;
        justify-content: end;
        gap: 20px;
    }
    
    .contactoButton{
        width: 210px;
        height: 100px;
        border: 3px solid rgb(250, 161, 77);
    }
        
    footer a{
        font-size: xx-large;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        color: rgb(252, 5, 5);
    }

    .nosotros{
        font-family: 'Roboto', sans-serif;
        font-size:medium;
    }
    
    .parrafoNosotros{
        font-family: 'Roboto', sans-serif;
        width: 100%;
        height: 100%;
        color: rgb(255, 0, 0);
    }

    .SeccionAlojamiento{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .ImgAlojamiento{
        width: 320px;
        height: 400px;
        transition: width 2s , height 2s;
    }

    .ImgAlojamiento:hover{
        width: 475px;
        height: 600px;
    }

    .seccionVuelos{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .imgVuelos{
        width: 320px;
        height: 400px;
        transition: width 2s , height 2s;
    }
    
    .imgVuelos:hover{
        width: 475px;
        height: 600px;
    }

    .nosotros{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .seccionContacto{
        width: 350px;
        height: 90%;
        padding: .8rem;
        overflow: hidden;
        color: rgb(8, 4, 252);
        margin-left: 75px;
    }
    
    .seccionContacto{
        border: 5px solid brown
    }
    
    .seccionContacto label , .seccionContacto input, .seccionContacto textarea {
        display: block;
        width: 100%;
        margin-bottom: 8px;
        background-color:indianred;
    }
    
    .seccionContacto input:not([type='submit']), .seccionContacto textarea{
        border: none;
        border-bottom: 2px solid salmon;
        margin-bottom: 10px;
        font-size: 20px;
        outline: none;
        color: gray;
    }
    
    .seccionContacto textarea{
        min-height: 50px;
    }
    
    input[type='submit']{
        padding: 10px;
        border: none;
        background-color: lightcoral;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }
    
    .imagenFondo3{
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }
    
    .ubicacionMapa{
        display: flex;
        flex-direction: row nowrap;
        justify-content: center;
    }
    .ubicacion{
        display: flex;
        flex-direction: row nowrap;
        justify-content: center;
    }
}