@mixin propiedades-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

@mixin propiedades-flex1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

@mixin propiedades-flex-mobile {
    display: flex;
    flex-direction: row nowrap;
    justify-content: center;
}
