.seccionContacto {
    width: 400px;
    height: 90%;
    padding: .8rem;
    overflow: hidden;
    color: rgb(8, 4, 252);
    border: 5px solid brown;
  
    label, input, textarea {
      display: block;
      width: 100%;
      margin-bottom: 8px;
      background-color: indianred;
    }
  
    input:not([type='submit']) {
      border: none;
      border-bottom: 2px solid salmon;
      margin-bottom: 10px;
      font-size: 20px;
      outline: none;
      color: gray;
    }
  
    textarea {
      border: none;
      border-bottom: 2px solid salmon;
      margin-bottom: 10px;
      font-size: 20px;
      outline: none;
      color: gray;
      min-height: 100px;
    }
  }
  
  input[type='submit'] {
    padding: 10px;
    border: none;
    background-color: lightcoral;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  
  .imagenFondo3 {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  
  .ubicacionMapa, .ubicacion {
    display: flex;
    flex-direction: row;
    justify-content: end;
    color: $color-titulos;
  }

  .imagenFondo {
    background-attachment: fixed;
    background-size: 210vh;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/fondo-paginas-avion3.jpg");
    font-size: xx-large;
    font-family: 'Roboto', sans-serif;
  }