.SeccionAlojamiento {
    @include propiedades-flex;
  }
  
  .ImgAlojamiento {
    width: 320px;
    height: 1000px;
    transition: width 2s, height 2s;
  
    &:hover {
      width: 700px;
    }
  }

  .imagenFondo3 {
    padding-top: 50px;
    padding-bottom: 50px;
    @include propiedades-flex;
  }

  .imagenFondo {
    background-attachment: fixed;
    background-size: 210vh;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/fondo-paginas-avion3.jpg");
    font-size: xx-large;
    font-family: 'Roboto', sans-serif;
  }